<h2>How it works</h2>

<img src="/img/search.png" alt="search" style="height:128px;"> <h3>Find a ride</h3>

<p>Enter your origin and destination cities or if you are feeling adventureious just choose an origin and see where Tandem can take you. Choose a driver to travel with - if you need more info, ask the driver by posting a public question.</p>

<p>Happy with the driver and travel arrangements?  Click <strong>Confirm your Ride</strong> on the listings page and a notification will be sent to the driver who can respond with confirmation. The listing is greyed out and the deal is done.</p>


<img src="/img/pickup.png" alt="pickup" style="height:128px;"> <h3>Pick up</h3>

<p>Have a clear meet up point, and be on time.</p>

(need a photo) <h3>Travel buddies</h3>

<p>When you check out other members' profiles you can see how many Facebook friends, you can also see how previous users have rated their experience. Remember to always let friends know who you are travelling.  Be responsible, cancel the agreement at any time if you feel uncomfortable. </p>
