
    <h3>Go you good thang! Your trip is confirmed and your driver has been notified of your request. Thanks for using Tandem, have a great trip!</h3>

    <div >
      <section class=search id="locations">
				<button id="goHome"><a href="/">Go to Homepage</button>
      </section>
    </div>
