<header>
  <div id="logo">
    <a href="/">tandem.</a>
  </div>
  <nav class="primary-nav">
    <ul>
      <li class="active">
        <a href="/howItWorks">How it works</a>
      </li>
      <li class="active">
        <a href="/createListing">Create a Listing</a>
      </li>
      <li>
        <a href="/profile">Update your profile</a>
      </li>
      <li>
        <a href="/signin">Sign in</a>
      </li>
      <li>
        <a href="/signup" id="signup-btn-nav">Sign up</a>
      </li>
    </ul><!-- phone nav button -->
    <button class="nav-button">toggle menu</button>
  </nav>
</header><!-- end of header -->
<div class="profile-listings-container u-full-width">
  <div class="search-bar center-content">
    <form class="search u-full-width" id="locations" name="searchForm"
    onsubmit="return validateForm()">
      <input class="inputFullWidth" id="origin" name="origin" placeholder=
      "origin" type="text"></i> <input class=
      "inputFullWidth" id="destination" name="destination" placeholder=
      "destination" type="text"> <button id="searchButton" name=
      "searchButton">Find</button>
      <p id="alert"></p>
    </form>
  </div>
  <div class="container u-cf">
    <!-- wrapper -->
    <h1>Update your profile</h1>
    <div class="container">
      <h3>Your details</h3>{{#each listing}}
      <div class="listing">
        <p>Hi {{this.name}} (name)</p>
      </div>{{/each}}
    </div>
    <div>
      <form action="/profile" method="post">
        <p>How long have you had your drivers licence : <input name=
        'driverLicenceDuration' placeholder="enter years" type=
        "driverlicenceduration"></p>
        <p>Please enter your age: <input name='age' placeholder="enter age"
        type="age"></p>
        <p>Enter your gender : <input name='gender' placeholder="gender"
        type="gender"></p>
        <p>Tell us a little about yourself: <input name='aboutMe'
        placeholder="about me" type='aboutme'></p><input id='updateProfile'
        type='submit' value='submit'><br>
      </form>
    </div>
    <script src="/javascript/bundle.js">
    </script>
  </div>
</div>
