// prevents iPhone from resizing in landscape mode

html { -webkit-text-size-adjust: none}

* {
	-moz-border-box: box-sizing;
	-webkit-border-box: box-sizing;
	border-box: box-sizing;
}

.main-landing {
	margin-top: 10px;
}


nav {
	background: $primary-color-transparent;
	height: 75px;
	width: 100%;
}

header {

	#logo {
		float: left;
		font-family: $bold;
		font-size: 2em;
		color: #fff;
	}
	#logo a {
		text-decoration: none;
		color: #fff;
	}
} // end of header

