/* Fonts
   ========================================================================== */

@font-face { font-family: Gotham_black; src: url(../fonts/GOTHAM-BLACK.TTF);}
@font-face { font-family: Gotham_medium; src: url(../fonts/GOTHAM-MEDIUM.TTF);}
@font-face { font-family: Gotham_thin; src: url(../fonts/GOTHAM-LIGHT.TTF);}
@font-face { font-family: Rene_Bieder; src: url(../fonts/Rene-Bieder.otf);}

$bold: Gotham_black, sans-serif;
$medium: Gotham_medium, sans-serif;
$body: Gotham_thin, sans-serif;
$logo: Rene_Bieder, sans-serif;

/* Colors
   ========================================================================== */

	/* blue */

$primary-color: #23355b; //navy blue
$primary-color-transparent: rgba(35,53,91,0.7);
$secondary-color: #2a406d;
$third-color: #314a80;

	/* teal */
	
// $primary-color: #359895; 
// $primary-color-transparent: #3fb0ac;
// $secondary-color: #359895;
// $third-color: #314a80;

$background-color: #f1f1f1; //light-grey 

$background-color2: #DCDCDC; //light-grey 

$placeholder-color: #565a5c; //grey

$menu-text-color: #fff; //white

$reverse: #fff;
$body-text-color: #141823;







/* INPUTS AND BUTTONS
   ========================================================================== */

$primary-radius: 4px;

.inputFullWidth, 
#facebookButton{
	width: 350px;
	margin: 20px 5px;
}

#facebookButton {
	border-radius: 4px;
	background: #23355b;
	height: 38px;
	margin: 0 auto;
}

#facebookButton a{
	text-decoration: none;
	color: $reverse;
	line-height: 38px;
}

.inputFullWidth.sign-up-button {
	color: #fff;
	background: #355088;
	border: none;
}

.inputFullWidth.sign-up-button:hover {
	background: #4e69a2;
	color: $reverse;
}


#findButton {
	border-radius: 25px;
	border: 1px solid #fff;
	width: 120px;
	text-align: center;
	display: block;
	margin: 20px auto 0;
	background: $third-color;
	border: none;
	color: $reverse;
}

form#locations.search {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.search-bar {
	background: $primary-color;
}

.profile-input {
	display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bbb;
  box-sizing: border-box; 

	font-family: $body;

}

#searchButton, #commentSubmit {
	background: $third-color;
	color: $reverse;
	border: none;
}

input#updateProfile {
	background: $third-color;
	color: $reverse;
	border: none;
}
#requestRide {
	background: $secondary-color;
	color: $reverse;
	border: none;

}	

.ride-listing {
	background: $secondary-color;
	color: $reverse;
	border: none;
}
#liftEnjoyButton {
	background: $secondary-color;
	color: $reverse;
	border: none;
}

#listing-confirm-button {
	background: $secondary-color;
	color: $reverse;
	border: none;
	margin-top: 10px;
	a {
	text-decoration: none;
	color: $reverse;
	}
	
}

/* footers
   ========================================================================== */

@mixin main-footer() {
  color: $reverse;
	font-size: 10px;
	text-align: center;

	clear: both;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}




/* utilities
   ========================================================================== */
.center-content {
	text-align: center;
}

.bold-text {
	font-family: $medium;	
}

.destination {
	color: green;
}

#testing {
	background: red;
}

#testing-two {
	background: green;
}

