@import "variables";
@import "mobile";
@import "mobilemenu";
@import "desktop";


body {
	font-family: $body;
	background: $background-color;
	color: $body-text-color;
}



/* Main Landing
   ========================================================================== */
#arrow-main-page {
	color: $reverse;
	font-size: 1.2em;
}

.main-landing {
	h1, h5, h6 {
		color: $reverse;
	}
	h1 {
		font-family: $bold;
		margin-bottom: 0px;
	}
	h5 {
		font-family: $medium;
	}

}
.main-wrapper {
	// background: $secondary-color;
	background: url(../images/bg004.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

	#footer {
		color: $reverse;
		font-size: 10px;
		text-align: center;

		clear: both;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
	}

}

// .full-image-backgroud {
// 	background: url(../images/bg004.jpg) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   height: 100%;
// }



/* Sign in
   ========================================================================== */
.sign-in {
		width: 100%;
	h5, p {
		color: $reverse;
		margin-bottom: 5px;
	}
	#no-account-footer {
		margin-top: 10px;
	}
	a {
		text-decoration: none;
	}
	
}
.signInContainer {
	background: rgba(0, 0, 0, 0.3);
	border-radius: $primary-radius;
	padding: 20px;
	margin: 0 auto;
	display: inline-block;
	}

/* Sign up
   ========================================================================== */

.sign-in {
	h5, p {
		color: $reverse;
		margin-bottom: 5px;
	}
}

/* Current Listings
   ========================================================================== */
.current-listings-container {
	background: $background-color;
	height: 100%;
}


#newRides {
	// background: red;
	padding: 4%;

	h4, h5, h6, p {
		margin-bottom: 0;
	}
	h4 {
		font-family: $medium;
		color: #23355b;
	}
}

.listing {
	background: $background-color;
	padding: 3%;
	// margin-bottom: 20px;
	// border-radius: $primary-radius;
	border-bottom: 1px solid #bdbdbd;

	button {
		background: $primary-color;
		border: none;
		margin-top: 10px;
	}
	a {
		text-decoration: none;
		color: $reverse;
	}
}
.listing:last-child {
	border-bottom: none;
}

/* Single listings
   ========================================================================== */
.single-listing-container {

	h3 {
		font-family: $medium;
	}

	h5 {
		margin-top: 20px;
		font-family: $medium;
		margin-bottom: 10px;
	}
		.commentContainer {
		margin-top: 20px;	
			#commentReply {
				width: 90%;
			}
		}

	.singleListHeading {
		margin-bottom: 20px;
	}
}



